@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Roboto&family=Tajawal:wght@500&display=swap');
body{
    background-color: #0F172A;
    color: rgb(255, 255, 255);
    font-family: roboto,Tajawal;
}
header{
    color: #000;
    border-radius: 20px;
}
a{
    color: rgb(0, 255, 106);
}
a:visited{
    color: red;
}
nav li{
    display: inline;
    margin: 8px;
}
nav ul li:first-child a{
    text-decoration:underline;
    color:#00d0ff;
  }
  
th{
    text-transform: uppercase;
}
.top{
    background-color: #8b2902;
}
em{
    color: #22D3EE;
}


#articles{
    background-color: rgba(216, 157, 79, 0.829);
    text-transform: uppercase;
    color: #000;
    border-radius: 20px;
    padding: 4px;
}

h1,h2,h3,h4,h5{
    text-transform: capitalize;
}

h2+p:first-letter{
    font-size: x-large;
}
tr:hover{
    background-color: #ff4b01;
}

::selection {
    color: #00d0ff;
}

body a:hover{
    cursor: pointer;
}
input{
    height: 20px;
}
input[type="text"] {
    border-color: lightgray;
}
  
input[name="message"] {
    height: 50px;
}

article{
    background-color: #1E293B;
    padding: 30px;
    border-radius: 20px;
    margin-top: 41px;
    margin-bottom: 41px
}

footer:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 45, 129);
    margin-bottom: 8px;
}